@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Ubuntu+Mono:ital@1&family=Vidaloka&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-color: #1A87D7;
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #051417;
}

.logo-multi {
    width: 248px;
    height: 60px;
    padding: 10px;
}

.menu-jogos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.img-loki {
    width: 200px;
    
}

.img-bc {
    width: 200px;
}

.img-otgw {
    width: 200px;
}


footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #051417;
}